{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
<div class="text-center mx-auto p-1" style="margin-top: 3rem; margin-bottom 5rem;">
  <!-- remember to add in art after -->
  <h1 class="wager">Welcome To Wagerbot</h1>  
  <h5 class="gen">The bot for handeling bets between "friends"</h5>
</div>
    <div class="card mx-auto text-center p-4" style="margin-bottom: 5rem; margin-top: 2rem; margin-left: 5rem; margin-right: 5rem;">
      <h3 class="wager">global top Five Standings</h3>
      <p class="gen">Standings based on account balance</p>
      <table class="table text-white gen">
        <tr>
         <thead>
           <th scope="col">Position</th>
           <th scope="col">Username</th>
           <th scope="col">Current balance</th>
          </thead>
        </tr>
        <tbody class="gen">
          {% for user in global_top_five %}
          <tr>
            <td>{{ user["position"] }}</td>
            <td>{{ user["username"] }}</td>
            <td>{{ user["balance"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container-fluid">
      <div class="mx-auto text-center">
                <!-- TODO: Complete the info Card-->
        <div class="card mx-auto text-left p-4" style="margin-bottom: 5rem; margin-left: 5rem; margin-right: 5rem;">
          <h4 class="mx-auto wager" style="margin-top: 1rem;">Info and commands</h4>
          <p class="gen">When first using wagerbot, a profile will be automatically created for you with a balance of $1050. When your balance dips below $100 your balance will automatically be set to $100 to allow you to keep playing. Below is a quick rundown of the commands offered by Wagerbot</p>
          <dl class="gen" style="text-align: left;">
            <dt><code>/wager</code></dt>
            <dd>Used to offer a wager to someone (mandatory args are member and amount).</dd>
            <dt><code>/accept</code></dt>
            <dd>Used by the person who has been offered the wager to accept and initiate the wager. Note: Once accepted, you can NOT cancel a wager.</dd>
            <dt><code>/decline</code></dt>
            <dd>Used by the person being offered the wager to decline said wager. It can also be used by the person who offered the wager to cancel the wager before it's been accepted.</dd>
            <dt><code>/declare_winner</code></dt>
            <dd>Used to declare the winner of a wager and transfer the funds. You can NOT declare yourself the winner</dd>
            <dt><code>/user_info</code></dt>
            <dd>Used to display your account info, it will also provide a link which directs you to a webpage which displays your whole wager history</dd>
          </dl>
        </div>
      </div>
      <div class="card mx-auto" style="margin-left: 5rem; margin-right: 5rem;">
        <div class="card-body mx-auto text-center">
          <img src="/static/discord.png" class="rounded mx-auto d-block" alt="discord-logo" style="height: 99px">
          <h4 class="card-title mx-auto wager">Get started with Wagerbot</h5>
          <a class="btn btn-primary btn-lg mx-auto wager" href="https://discord.com/oauth1/authorize?client_id=1501280462662799582" role="button" >Invite</a>
        </div>
      </div>
    </div>
{% endblock %}    
