{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
<div>
  <h1>!LANDING PAGE YIPPIE (WIP)!</h1>
</div>
<div>
  <p>LOGO.jpeg</p>
</div>
    <div>
      <h2>top ten standings (balance)</h2>
      <table class="table">
        <tr>
         <thead>
           <th scope="col">#</th>
           <th scope="col">Username</th>
           <th scope="col">Current balance</th>
          </thead>
        </tr>
        <tbody>
          {% for user in global_top_ten %}
          <tr>
            <td>{{ user["postition"] }}</td>
            <td>{{ user["username"] }}</td>
            <td>{{ user["balance"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <p>discord-logo.jpeg</p>
      <h3>link to bot invite (button on side)</h3>
      <p>words words words, instructions instructions instructions</p>
    </div>
{% endblock %}    
