{% extends "layout.html" %}

{% block title %}
  User info
{% endblock %}

{% block main %}
<div>
  <h2> {{ user["username"] }} </h2>
  <div>
    <table class="table">
        <tr>
         <thead>
           <th scope="col">Balance</th>
           <th scope="col">Wins</th>
           <th scope="col">Losses</th>
          </thead>
        </tr>
        <tbody>
          <tr>
            <td>{{ user["balance"] }}</td>
            <td>{{ user["wins"] }}</td>
            <td>{{ user["losses"] }}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <h3> Wager History </h3>
  <div>
    <table class="table">
      <tr>
        <thead>
          <th scope="col">Server</th>
          <th scope="col">Opponent</th>
          <th scope="col">Wager</th>
          <th scope="col">Outcome</th>
        </thead>
      </tr>
      <tbody>
        {% for wager in wagers %}
        <tr>
          <td>{{ wager["server"] }}</td>
          <td>{{ wager["opponent"] }}</td>
          <td>{{ wager["wager"] }}</td>
          <td>{{ wager["outcome"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}    
