{% extends "layout.html" %}

{% block title %}
  User info
{% endblock %}

{% block main %}
<div style="min-height: 100vh;">
  <h1 class="text-center wager" style="margin-top: 10vh; margin-bottom: 0vh;"> {{ user["username"] }} </h2>
  <div class="card mx-auto text-center p-4" style="width: 100vh; margin-bottom: 1rem; margin-top: 5rem; margin-left: 5rem; margin-right: 5rem;">
    <h3 class="wager">Account Overview</h3>
    <table class="table">
        <tr>
         <thead class="gen">
           <th scope="col">Balance</th>
           <th scope="col">Wins</th>
           <th scope="col">Losses</th>
          </thead>
        </tr>
        <tbody class="gen">
          <tr>
            <td>{{ user["balance"] }}</td>
            <td>{{ user["wins"] }}</td>
            <td>{{ user["losses"] }}</td>
          </tr>
        </tbody>
    </table>
    <p class="gen">Note: User balance defaults to $100 when it dips below that amount.</p>
  </div>
  <div class="card mx-auto text-center p-4" style="width: 100vh; margin-bottom: 1rem; margin-top: 1rem; margin-left: 5rem; margin-right: 5rem;">
  <h3 class="mx-auto text-center wager"> Wager History </h3>
    <table class="table">
      <tr>
        <thead class="gen">
          <th scope="col">Server</th>
          <th scope="col">Opponent</th>
          <th scope="col">Wager</th>
          <th scope="col">Outcome</th>
        </thead>
      </tr>
      <tbody class="gen">
        {% for wager in wagers %}
        <tr>
          <td>{{ wager["server"] }}</td>
          <td>{{ wager["opponent"] }}</td>
          <td>{{ wager["wager"] }}</td>
          <td>{{ wager["outcome"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}    
